body {
    margin: 5%;
}
.langselect a {
    margin-right: 0.5em;
}

a.edit {
    display: none;
}
.editor_logged_in a.edit {
    display: inline-block;
}


/* previous style sheet */
@font-face {
    font-family: 'ocrpbi1';
    src: url('fonts/ocrpbi1.eot');
    src: url('fonts/ocrpbi1.eot?#iefix') format('embedded-opentype'),
        /*url('fonts/ocrpbi1.woff2') format('woff2'),*/
        url('fonts/ocrpbi1.woff') format('woff'),
        url('fonts/ocrpbi1.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ocrpbi2';
    src: url('/sponge/s/fonts/ocrpbi2.eot');
    src: url('/sponge/s/fonts/ocrpbi2.eot?#iefix') format('embedded-opentype'),
        /*url('fonts/ocrpbi2.woff2') format('woff2'),*/
        url('/sponge/s/fonts/ocrpbi2.woff') format('woff'),
        url('/sponge/s/fonts/ocrpbi2.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root {
  --main-color: rgb(58, 225, 197);
  --inverse-color: rgb(197, 30, 58);
}
body.renderside{
	margin-top:13vh;
	margin-left:6vw;
	margin-right:6vw;
	padding-bottom:13vh;
}
body.weftpage{
	margin-top:13vh;
	margin-left:6vw;
	margin-right:6vw;
	padding-bottom:13vh;
}

.renderside a{
	color: black;
	text-shadow: 2px 2px 3px var(--main-color), 2px 2px 7px var(--main-color);
}
.weftpage a{
	color: black;
}

.renderside a:hover,.weftpage a:hover{
	text-decoration: underline;
	text-decoration-style: wavy;
}

.weftpage h1,.weftpage h2,.weftpage h3,.weftpage h4{
	font-weight: normal;
	text-shadow: 2px 2px 3px var(--main-color), 2px 2px 7px var(--main-color);
}

.weftpage h1{font-size: 2.4em}
	
.weftpage h2{
	margin-top:40px;
	font-size: 1.7em;
}

.weftpage h3{font-size: 1.2em;}

body.renderside,body.weftpage,.weft,.folder,.gallery{
	font-family: ocrpbi1,monospace;
}

body.renderside{
    font-size: 2em;
}

.heads{
	font-family: "ocrpbi2",sans-serif;
	font-weight: bold;
	font-size:20px;
	margin-bottom: 3vw;
	margin-top: 3vw;
}

.mediacaption, .weftpage figcaption, .weftpage small {
	font-size: 0.7em;
	margin: 0;
}

.weft{
}

.weft.dedicated{
	width: 98%;
}

.weft.transversal{
	width: 98%;
}
.wefttitle{
	display: block;
	font-size:16px;
}
.weftsubtitle{
	vertical-align: middle;
	margin-top: 3vw;
	display: block;
	font-size:12px;
	text-decoration: none;
}
.thisweft,.prevweft,.nextweft{
	text-align: center;
	display: inline-block;
	position: relative;
}
.thisweft{
	width: 48%;
}
.prevweft,.nextweft{
	width:25%;
	left:0%;
}

.weftdesc{
	font-size:12px;
}
.weftdesc img{
	display:none;
}

.afterelement {
  clear: both;			
}

.contelement{
	padding-bottom:3vw;
	overflow: hidden;
}
.folder{

}
.folder a{

}
.foldertitle{
	display: block;
	font-size:16px;
}

.video.mediaelement{
	width:80px;
	min-height:51px;
	background:black;
}
.sound.mediaelement{
	max-width:100%;
}

.sound.mediaelement a{
	text-decoration:none;
}

.soundname,.soundbar{
	word-wrap:break-word;
}
.soundname{
	text-decoration:none !important;
}
.soundbar{
	text-decoration:underline;
	text-decoration-style:wavy;
}
.sound.mediaelement:hover > a > .soundbar{
	text-decoration-style:solid;
}

.mediaelement img{
	max-width: 80px;
	height: auto;
	max-height: 80px;
}
.mediaelement{
	float: left;
	margin-right: 1vw;
	padding-top: 1vw;
	margin-bottom: 1vw;
}

.spipbacklinkimage{
margin-right: 1vw;
padding-top: 1vw;
}

/* urlthumbnails are the little thumbnails added to URLs
   images are imageurlthumbnail
   and urlthumbnail are websites with an (og) thumbnail */
div.urlthumbnail {
    display: inline-block;
    margin-right: 0.5em;

}
img.urlthumbnail {
    max-width: 1.8em;
    height: auto;
    max-height: 1.8em;
    border: 1px solid grey;
    vertical-align: bottom;
}

div.imageurlthumbnail {
    /*display: inline-block;*/
    /*margin-right: 0.5em;*/
}
img.imageurlthumbnail {
    max-width: 250px;
    height: auto;
    max-height: 250px;
}

ul.spippagebacklinks {
    list-style: none;
    padding-left: 0;
    margin-bottom: 2em;
}
ul.spippagebacklinks li {
    margin-bottom: 1em;
}
img.spipbacklinkimage {
    max-width: 60px;
    max-height: 60px;
}

video {
	margin-top:10px;
	margin-left:20%;
	width:60%;
	height:auto;
	margin-bottom:5px;
}

.mediacaption{
	margin-left:20%;
	margin-bottom:10px;
	display:block;
}
.video.medialink{
	position: relative;
	display: inline-block;
}
.video.medialink a{
	text-decoration:none;
}
.video.medialink a span{
	color: var(--main-color);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
	font-size: 70px;
	line-height: 55px;
	padding-left: 20px;
	width: 60px;
}
.video.medialink:hover > a > span{
	color:transparent;
	text-shadow:none;
}

.videothumb{

}

.audio.medialink{
	height: 60px;
	font-size: 10px;
	display: table;
	word-break: break-all;
}
.audio.medialink a{
	display: table-cell;
	vertical-align: middle;  
}

.gallery{
	padding-bottom:3vw;
}
.image.medialink {

}
.image.medialink a{

}
.image.medialink a img{

}
.llang:not(.current){
	display: none;
}

/*
.weftindextitle{
	font-weight: normal;
	font-family: ocrpbi2,sans-serif;
}
.weftindextable,.weftstuff{
	font-family: ocrpbi1;
	font-size:14px;
	line-height: 24px;
}
*/

div.edit {
    padding-top: 20px;
}

div.edit a.edit {
    color: gray;
}

/* July 2020 */
/* The tags span in an audioitem (link) is for display in the audio player and can/should be hidden when in the weft */
.audioitem .tags {
    display: none;
}
/* much as I would like to fix large images in another way... */
/* michael: still testing, leaving this in for now... */
img {
    max-width: 200px;
	max-height: 200px;

}
/* ![]() images get wrapped in div.inlineimage */
div.inlineimage {
    display: inline-block;
}
/* viewinframe link */

.viewinframe {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 2;
    transform: scaleX(-1) scaleY(-1);
}
.viewinframe a {
    font-size: 60px;
    font-family: "ocrpbi2",sans-serif;
    color: black;
    text-shadow: 2px 2px 3px var(--main-color), 2px 2px 7px var(--main-color);
    text-decoration: none;
    position: relative;
    top: 15px;    
}
.viewinframe a:hover {
    text-decoration: none;
}


/* TABLESORT (index) */
#footer {
    margin-top: 3em;
}

#footer #lang {}

#footer button {margin: 1em 1em 0 0}

body#weftindex ul {
    list-style: none;
    padding-left: 0;
}

body#weftindex a {
    text-decoration: none;
}

body#weftindex a:hover {
    text-decoration: underline;
}

body#weftindex td.title {width: 50em;}

body#weftindex td.lastedited {width: 10em;}

body#weftindex td.pad, body#weftindex td.lastedited {
    font-size: 0.7em;
    text-align: left;
}

body#weftindex td.pad {
    padding-left: 8px;
}

body#weftindex td.pad a {
    text-transform: lowercase;
    font-size: 10px;
    padding: 2px;
    color: white;
    background: #AAE;
    border-radius: 5px;
    text-decoration: none;
    position: relative;
    top: -3px;
}

body#weftindex td.pad a:hover {
    text-decoration: none;
}

th {font-size: 0.7em; padding-bottom: 1em;  
}

th[role=columnheader]:not(.no-sort) {
    cursor: pointer;
    text-align: left;
}

th[role=columnheader]:not(.no-sort):after {
    content: '';
    float: right;
    margin-top: 7px;
    border-width: 0 4px 4px;
    border-style: solid;
    border-color: #404040 transparent;
    visibility: hidden;
    opacity: 0;
    -ms-user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

th[aria-sort=ascending]:not(.no-sort):after {
    border-bottom: none;
    border-width: 4px 4px 0;
}

th[aria-sort]:not(.no-sort):after {
    visibility: visible;
    opacity: 0.4;
}

th[role=columnheader]:not(.no-sort):hover:after {
    visibility: visible;
    opacity: 1;
}

/* warps + wefts */

ul#warp-weft-list li.weft, ul#warp-weft-list li.weft a {
    color: #111;
}

ul#warp-weft-list li.warp, ul#warp-weft-list li.warp a {
    color: #111;
}

ul#warp-weft-list li.warp {
    /*padding-left: 1em;*/
}

/* symbols in weft/warp pages */

.symbol-warp {padding-right: 0.2em; text-shadow: 2px 2px 3px fuchsia, 2px 2px 7px fuchsia;}
.symbol-weft {padding-right: 0.2em; text-shadow: 2px 2px 3px yellow, 2px 2px 7px yellow;}

body.weftpage-warp h1::before {
    content: "\2261";
}
body.weftpage h1 {
    text-shadow: 2px 2px 3px yellow, 2px 2px 7px yellow;
}
body#weftindex h1 {
	text-shadow: 2px 2px 3px var(--main-color), 2px 2px 7px var(--main-color);
}
body.weftpage-warp h1 {
    text-shadow: 2px 2px 3px fuchsia, 2px 2px 7px fuchsia;
	
}
body.weftpage-weft h1::before {
    content: "\2262";
}

